biopython==1.79
pip==22.2.2
importlib-resources==5.2.2
ipywidgets==7.6.3
jupyterlab-widgets==1.0.0
Keras==2.10.0
scipy==1.5.4
smmap==4.0.0
tensorflow==2.10.0
h5py==3.7.0
scikit-learn==1.1.2
